table .design_philo{
font-family: 'Century Gothic','CenturyGothic','AppleGothic',sans-serif;
font-weight: normal;
}
table .design_philo th{
font-weight: normal;
}
.menu-profile p:hover{
	color:#FF6600;
	cursor: pointer;
}
.side-wrapper{
	display: none;
}
.right-view-philosophy{

}  
.right-view-biography{
}
th{
font-weight: normal;
}