table .design_philo{
font-family: 'Century Gothic','CenturyGothic','AppleGothic',sans-serif;
font-weight: normal;
}
table .design_philo th{
font-weight: normal;
}
.menu-profile p:hover{
	color:#FF6600;
	cursor: pointer;
}
.side-wrapper{
	display: none;
}
.right-view-philosophy{

}  
.right-view-biography{
}
.right-view-partner-biography{
}
th{
font-weight: normal;
}
.dropdown-menu{
    background-color: #1c1c1c;
    color: #FF6600;
}
.dropdown-menu>li>a{
    color: #FFFFFF;
    background-color: #1c1c1c;
}
.dropdown-menu>li>a:hover{
    color: #FF6600;
    background-color: #1c1c1c;
}