.fonto{
   color:#FF6600;
} 
.heading{
    color:#FF6600;
    font-size: 12.3px;
    font-style: bold;
}
#whitecontact{
     font-size: 0.7em;
     text-align: justify;
     overflow: hidden;
     color: #ffffff;
     letter-spacing: 1px; 
}
#icons {
    padding:0 0 0 0em;
/*    list-style: none; */
/*    width: 100%; */
/*    margin:0 auto;*/
}
#icons li {
    display:inline-block;
    width:20%;
    float:left;
    margin-right: 3.5%;
/*    padding-right: */
/*    text-align:center;*/
}
#icons li img {
    width: 60%;
    height:60%; 
    display:block;
    margin:0 auto;
    float:left;
}
#icons li:hover img{
    -webkit-filter: brightness(120%);
    -ms-filter: brightness(120%);
    filter: brightness(120%);
    
     -webkit-transform: scale(1.4);
     -ms-transform: scale(1.4);
     transform: scale(1.4);
}
/*
li .facebook{
   margin: 0;
    padding: 0;
}
.gplus{
float: right;
}
*/


#contactForm {
    width: 100%;
    padding-top: 20px;
}
#contactForm input{
    font-family: Helvetica, sans-serif;
    border: 1px solid;
    width: 85%;
    font-color: #000000 !important;
    font-size: 0.7em;
    float:right;
    color: #000000;
    text-align: center;
/*    height: 10px;*/
}
#contactForm label{
    font-weight: 200;
}
.form-group.required .control-label:after { 
   content:"*";
   color:red;
}
.control-label:after{
    content:"*";
   color:red; 
}
.message {
    float: left;
    text-align: justify;
     overflow: hidden;
    color: black;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	width: 100%;
}
.formLabel{
    color:#FF6600;
    float: right;
	text-align: right;
	width: 100px;
    padding-top: 5px;
    padding-right: 6px;
    font-weight: normal;
    
}
h7{
    float: right;
    color: #ffffff;
    font-size: 0.7em;
    letter-spacing: 1px;
    font-weight: normal;
    padding-bottom: 4px;
}
td .labelContact{
    width: 80px;
}
td input{
    height: 18px;
    font-size: 0.7em;
}
.labelContact{
    color:#FF6600;
    float: left;
	text-align: right;
	width: 100px;
    padding-top: 3px;
    font-size: 11px;
/*    padding-left: 10px;*/
}
.contentTable{
/*    border: 1px solid black;*/
    text-align: left;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    column-width: 10px;
    font-color: red;
}
#navD{
    font-family: 'Century Gothic','CenturyGothic','AppleGothic',sans-serif;
    text-align: left;
    font-weight: bold;
    font-size:0.8em;
}

.centered{
width:900px;height:400px;
left:50%;top:50%;
margin:-200px 0 0 -450px;
border:1px solid #000;
position:fixed;
}
* html #centered { position:absolute;} */

.fonto{
   color:#FF6600;
}

body{
font-family: 'Open Sans', sans-serif;
}
html,body{
height: 100%;
}
.navbar-custom {
    margin-bottom: 0 auto;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000000;
    letter-spacing: 0.4px;
    font-size: 0.8em;
    
}
.justified {
    position:absolute;
    left:50.2%;
}
.navbar-custom .nav .active{
   color: #ffffff;
}
.navbar-nav>li>a{
	padding-left: 2px;
}

/*Content*/
#mainwrap{
	display: table;
    padding-top:3%;
    width: 100%;
    position: absolute;
    height: 100%;
    min-height: 100%;
    color: #fff;   
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    overflow: hidden;
}
.midwrapper{
	margin: 0 auto -60px;
/*	background-color: red; */
	width: 20.5%;
	max-width: 90%;
	min-height: 80%;
	height: 580px;
	min-height: 560px;
	height: auto !important;
	overflow: visible;
	height: auto !important;
}

.exactwrapper{
	margin: 0 auto;
/*	background-color: green;*/
/*	background-color: green;*/
	width: 99%;
	max-width: 100%;
/*	height: 90vh;*/
	min-height: 90vh;
	height: auto !important;
	overflow: visible;
    text-align: justify;
    position: relative;
}
.sample{
    padding-top: 5%;
    color:#5c5c5c;
    margin: 0 auto;
    text-align: center;
}
.contactwrapper{
    padding-top: 5px;
	margin: 0 auto;
/*	background-color: red;*/
	width: 95%;
	max-width: 100%;
	max-height: 100%;
    height: 100%;
	min-height: px;
/*	height: auto !important;*/
    position: relative;
/*	overflow: hidden;*/
}
.conwrapper{
    padding-top: 5px;
    width: 20%;
	max-width: 671px;
    height:100%;
    min-height: 93vh;
/*    min-height: 610px;*/
   	margin: 0 auto;
	background-color: #1c1c1c;
/*	overflow: hidden;*/
/*    position: absolute;*/
    display:inline-block;
    text-align: center;
}
.btn{
    padding: 1px 9px;
    border-radius: 5px;
    border: 0;
    width: 55px;
    height:23px;
    font-family: Tahoma;
    font-size: 0.8em;
    background: #f4f4f4;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f4f4f4), color-stop(100%, #ededed));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #f4f4f4 1%, #ededed 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#ededed', GradientType=0);
    /* IE6-9 */
}
.topnav{
	padding-top:40%;
    max-width: 100%;
    font-family: 'Century Gothic','CenturyGothic','AppleGothic',sans-serif;
    color: #FF6600;
    font-size: 50px;
    letter-spacing: 64px; 
    position: relative;
    float: left;
    overflow: visible;
/*    padding:0px;*/
    margin: 0px;
}
#logo{
	min-width: 100%;
    width: 101%;
    float: left;
    position: relative;
/*    padding-right:0; */
}
.belownav{
    max-width: 100%;
    font-family: 'Century Gothic','CenturyGothic','AppleGothic',sans-serif;
    color: #FF6600;
    margin: 0 auto;
    font-size: 12px;
    letter-spacing: 5.3px; 
/*     word-wrap:break-word;*/
    position: relative;
    float: left;
/*    padding-right: 10%;*/
    margin-top: 11px;
    width: 100%;
}
#footer { 
    float: left; 
    width: 330px;
    margin-left:auto;
    margin-right: auto;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}
#footer a{
    vertical-align: top;
    display: inline-block;
    *display: inline;
    color: #7A7A7A;
    zoom: 1;
    float: left;
    margin-right: 27px;
/*    margin-right: 100%;*/
    padding-left: 0;
    /*padding-right: 1px;*/
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}
.txt-railway{
    text-align: left;
    font-size: 0.8em;
    font-family: 'Century Gothic','CenturyGothic','AppleGothic',sans-serif; 
    color:#7A7A7A;
    letter-spacing: 2.7px;
    float: left;
/*    padding-left: 8%;*/
}
.centertable{
    margin: 0 auto;
/*    margin-top: 50%;*/
}
#progressbar {
    width: 100%;
    height: 15px;
    background-color: #3a3a3a;
    padding-left: 0px;
    margin: .6em 0;
    border: 1px #000 double;
    clear: both;
}
#progress {
    background: #FF6600; /*-- Color of the bar --*/
    height: 15px;
    width: 10%;
    max-width: 100%;
    float: left;
    -webkit-animation: progress 2s 1 forwards;
    -moz-animation: progress 2s 1 forwards;
    -ms-animation: progress 2s 1 forwards;
    animation: progress 2s 1 forwards;
    
}
#demo input{
    float:right;
    text-align: justify;
     overflow: hidden;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    position: relative;
margin:0 auto;
}
.message {
    float: left;
    text-align: justify;
     overflow: hidden;
    color: black;
    	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    font-size: 12px;
	width: 100%;
}
#pbaranim {
    height: 12px;
    width: 100%;
    overflow: hidden;
    background: url('http://www.cssdeck.com/uploads/media/items/7/7uo1osj.gif') repeat-x;
    -moz-opacity: 0.25;
    -khtml-opacity: 0.25;
    opacity: 0.25;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=25);
    filter: alpha(opacity=25);
}

@-webkit-keyframes progress { 
    from { }

    to { width: 36% }
}

@-moz-keyframes progress { 
    from { }

    to { width: 36% }
}

@-ms-keyframes progress { 
    from { }

    to { width: 36% }
}

@keyframes progress { 
    from { }

    to { width: 36% }
}

/*END OF PROGRESS BAR*/

.footer{
    height: 80px;
    margin: 0 auto;
    width: 100%;
    background-color: black;
}
#footerwrapper{
    margin: 0 auto ;
/*	background-color: red;*/
	width: 24.5%;
	max-width: 90%;
	min-height: 10%;
	height: 62px;
	min-height: 62px;
	height: auto !important;
	overflow: hidden;
	height: auto !important;
    padding-left: 1%;
    position: absolute;
    bottom: 0;
}
#footerwrapper a{
    float: left;
    position: relative;
    padding-right: 1.6%;
    margin-left: 4%;
    color: #7A7A7A;
}
.middlewrapper{
	display: inline-block;
    background-color: #1c1c1c;
	width: 17.5%;
	max-width: 90%;
	min-height: 80%;
	height: 580px;
	min-height: 100%;
	height: auto !important;
    margin: 0 auto !important;
	overflow: visible;
    margin-right: 1px;
    position: static;
}
.leftwrapper{
    float: left;
    background-color: #1c1c1c;
    width: 41%;
    height: 100%;
/*    display: none;*/
    visibility: hidden;
/*     overflow-y: scroll;*/
}
.rightwrapper{
    float: right;
    width: 41%;
    background-color: #1c1c1c;
    height: 100%;
   visibility: hidden;
    overflow-y: scroll;
    
    
}
#innermiddle{
    padding-top: 10%;
     text-align: center;
    font-size: 12px;
    font-family: 'Century Gothic','CenturyGothic','AppleGothic',sans-serif; 
}
#innerleft{
    padding-top: 3.5%;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 12px;
    font-family: 'Century Gothic','CenturyGothic','AppleGothic',sans-serif; 
    float:left;
/*    overflow-x: hidden;*/
/*    overflow-y: scroll;*/
}
#innerright{
    padding-top: 3.5%;
    margin-left: 10%;
    margin-right: 10%;
     text-align: left;
    font-size: 12px;
    font-family: 'Century Gothic','CenturyGothic','AppleGothic',sans-serif; 
    float:left;
/*    overflow-x: hidden;*/
/*    overflow-y: scroll;*/
}
#paa {
/*	background:#ffab62;*/
	width:120%;
	height:70px;
	position:absolute;
	bottom:0;
	left:0;
}
  padding-left: 0px;
  float: left;
}

/*
.g-recaptcha>{
width: 50% !important;
height: 78px;
transform:scale(0.77); //the code to rescale the captcha obtained in this page
webkit-transform:scale(0.77);
text-align: center;
position: relative;
}
*/

/*
.recaptcha-wrap {
    position: relative;
    height: 76px;
    padding:1px 0 0 1px;
    background:#222;
    > div {
        position: absolute;
        bottom: 2px;
        right:2px;
        font-size:10px;
        color:#ccc;
    }
}
*/
